## Portfolio Exercise: Starbucks
<br>

<img src="https://opj.ca/wp-content/uploads/2018/02/New-Starbucks-Logo-1200x969.jpg" width="200" height="200">
<br>
<br>
 
#### Background Information

The dataset you will be provided in this portfolio exercise was originally used as a take-home assignment provided by Starbucks for their job candidates. The data for this exercise consists of about 120,000 data points split in a 2:1 ratio among training and test files. In the experiment simulated by the data, an advertising promotion was tested to see if it would bring more customers to purchase a specific product priced at $10. Since it costs the company 0.15 to send out each promotion, it would be best to limit that promotion only to those that are most receptive to the promotion. Each data point includes one column indicating whether or not an individual was sent a promotion for the product, and one column indicating whether or not that individual eventually purchased that product. Each individual also has seven additional features associated with them, which are provided abstractly as V1-V7.

#### Optimization Strategy

Your task is to use the training data to understand what patterns in V1-V7 to indicate that a promotion should be provided to a user. Specifically, your goal is to maximize the following metrics:

* **Incremental Response Rate (IRR)** 

IRR depicts how many more customers purchased the product with the promotion, as compared to if they didn't receive the promotion. Mathematically, it's the ratio of the number of purchasers in the promotion group to the total number of customers in the purchasers group (_treatment_) minus the ratio of the number of purchasers in the non-promotional group to the total number of customers in the non-promotional group (_control_).

$$ IRR = \frac{purch_{treat}}{cust_{treat}} - \frac{purch_{ctrl}}{cust_{ctrl}} $$


* **Net Incremental Revenue (NIR)**

NIR depicts how much is made (or lost) by sending out the promotion. Mathematically, this is 10 times the total number of purchasers that received the promotion minus 0.15 times the number of promotions sent out, minus 10 times the number of purchasers who were not given the promotion.

$$ NIR = (10\cdot purch_{treat} - 0.15 \cdot cust_{treat}) - 10 \cdot purch_{ctrl}$$

For a full description of what Starbucks provides to candidates see the [instructions available here](https://drive.google.com/open?id=18klca9Sef1Rs6q8DW4l7o349r8B70qXM).

Below you can find the training data provided.  Explore the data and different optimization strategies.

#### How To Test Your Strategy?

When you feel like you have an optimization strategy, complete the `promotion_strategy` function to pass to the `test_results` function.  
From past data, we know there are four possible outomes:

Table of actual promotion vs. predicted promotion customers:  

<table>
<tr><th></th><th colspan = '2'>Actual</th></tr>
<tr><th>Predicted</th><th>Yes</th><th>No</th></tr>
<tr><th>Yes</th><td>I</td><td>II</td></tr>
<tr><th>No</th><td>III</td><td>IV</td></tr>
</table>

The metrics are only being compared for the individuals we predict should obtain the promotion â€“ that is, quadrants I and II.  Since the first set of individuals that receive the promotion (in the training set) receive it randomly, we can expect that quadrants I and II will have approximately equivalent participants.  

Comparing quadrant I to II then gives an idea of how well your promotion strategy will work in the future. 

Get started by reading in the data below.  See how each variable or combination of variables along with a promotion influences the chance of purchasing.  When you feel like you have a strategy for who should receive a promotion, test your strategy against the test dataset used in the final `test_results` function.

In [36]:
# load in packages
from itertools import combinations

from test_results import test_results, score
import numpy as np
import pandas as pd
import scipy as sp
import sklearn as sk

import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

# load in the data
train_data = pd.read_csv('./training.csv')
train_data.head()

   ID Promotion  purchase  V1         V2        V3  V4  V5  V6  V7
0   1        No         0   2  30.443518 -1.165083   1   1   3   2
1   3        No         0   3  32.159350 -0.645617   2   3   2   2
2   4        No         0   2  30.431659  0.133583   1   1   4   2
3   5        No         0   0  26.588914 -0.212728   2   1   4   2
4   8       Yes         0   3  28.044332 -0.385883   1   1   2   2

In [ ]:
# Cells for you to work and document as necessary - 
# definitely feel free to add more cells as you need

In [4]:
test_data = pd.read_csv('Test.csv')

In [5]:
test_data.head()

   ID Promotion  purchase  V1         V2        V3  V4  V5  V6  V7
0   2        No         0   1  41.376390  1.172517   1   1   2   2
1   6       Yes         0   1  25.163598  0.653050   2   2   2   2
2   7       Yes         0   1  26.553778 -1.597972   2   3   4   2
3  10        No         0   2  28.529691 -1.078506   2   3   2   2
4  12        No         0   2  32.378538  0.479895   2   2   1   2

In [14]:
test_data[test_data.purchase > 0]

           ID Promotion  purchase  V1         V2        V3  V4  V5  V6  V7
391      1180       Yes         1   2  21.677294  0.306739   2   3   2   1
392      1185       Yes         1   1  25.879956  0.220161   2   2   2   1
457      1411       Yes         1   0  19.164378 -0.299306   2   1   3   2
688      2118       Yes         1   3  25.644523 -1.165083   2   4   3   2
794      2419       Yes         1   1  25.786070 -0.212728   2   4   4   1
922      2816       Yes         1   0  27.993200 -0.732194   2   1   2   2
1002     3121       Yes         1   1  27.647377 -0.818772   2   1   2   2
1015     3153       Yes         1   2  25.188348  1.518828   2   1   1   2
1063     3305        No         1   1  24.170267 -0.905350   2   2   1   1
1113     3438        No         1   2  25.442367  0.393317   1   4   1   1
1131     3496       Yes         1   1  32.844176 -0.212728   2   3   4   1
1313     4038       Yes         1   0  36.527121  1.259095   2   3   3   1
1316     4045       Yes         1   1  27.860512  0.912784   2   4   4   2
1617     4999        No         1   2  33.386285  0.566472   2   1   4   1
1625     5027        No         1   1  29.333764  0.739628   1   2   4   1
1679     5192       Yes         1   3  31.637679  0.653050   2   1   4   1
1707     5270       Yes         1   2  20.761277 -1.078506   2   3   3   1
1898     5770        No         1   2  28.818713  0.393317   2   3   1   2
1912     5808        No         1   2  26.004339 -1.338239   2   3   1   2
1924     5842       Yes         1   3  29.345261 -1.078506   1   2   2   1
2061     6321       Yes         1   1  24.714832  0.566472   2   3   1   1
2165     6655       Yes         1   2  23.830975 -0.905350   2   2   2   2
2226     6811        No         1   1  35.652638 -0.559039   2   2   1   2
2531     7774       Yes         1   2  28.461952 -0.385883   2   3   3   2
2706     8293        No         1   2  25.777983  1.605406   2   3   1   2
2737     8393       Yes         1   1  36.128559  0.826206   2   3   3   2
2775     8495       Yes         1   1  27.638865  1.518828   1   1   3   2
2807     8582        No         1   0  29.006214  0.566472   2   3   4   2
2966     9038        No         1   0  29.881255  1.259095   2   3   3   2
3022     9185        No         1   0  34.079878 -0.299306   1   2   2   2
...       ...       ...       ...  ..        ...       ...  ..  ..  ..  ..
38855  117743       Yes         1   2  30.357264  0.999361   2   3   3   1
38915  117937       Yes         1   1  35.729081  0.912784   1   2   1   1
39102  118505       Yes         1   2  30.890418  1.518828   2   1   1   2
39131  118595       Yes         1   3  23.317549 -1.511395   2   3   3   2
39263  118996       Yes         1   2  19.283073  1.172517   2   3   1   2
39359  119313        No         1   0  24.985430 -1.078506   2   4   4   1
39471  119648       Yes         1   0  28.956297 -0.472461   2   1   2   1
39513  119778       Yes         1   2  36.519343 -0.299306   2   3   1   2
39616  120088       Yes         1   1  33.384561 -0.126150   2   3   3   1
39649  120187       Yes         1   1  35.381946 -0.991928   2   3   2   2
39752  120504        No         1   1  30.968404 -0.126150   2   2   4   1
39781  120590       Yes         1   2  36.797093  1.345672   2   3   4   2
39818  120714       Yes         1   2  28.200631 -0.991928   2   3   1   2
39825  120743       Yes         1   1  18.442570 -0.559039   2   3   3   1
40009  121293       Yes         1   0  39.845459  0.393317   2   3   3   2
40019  121327       Yes         1   0  21.365001 -0.039572   2   3   2   2
40044  121386       Yes         1   1  30.353005 -0.991928   2   3   1   2
40062  121437        No         1   2  30.175563  1.432250   1   3   1   1
40157  121732        No         1   2  30.859182  1.345672   1   2   1   2
40186  121836        No         1   2  28.452125 -0.472461   1   2   3   2
40642  123166       Yes         1   1  27.259451 -0.732194   2   3   1   2
40731  123433       Yes         1   1  29.213446  1.605406   1   3   3   2
40890  123945       Yes         1   1  27.404750 -0.385883   1   3   1   2
41051  124465        No         1   1  29.228193 -1.251661   2   2   4   1
41311  125171       Yes         1   1  26.863457 -1.251661   2   3   2   2
41335  125236        No         1   3  21.283845  0.306739   1   1   1   1
41483  125737       Yes         1   1  27.611350 -1.251661   2   1   1   2
41581  126013        No         1   2  25.303537 -1.165083   2   2   1   1
41600  126051       Yes         1   1  27.758472 -0.039572   2   2   3   2
41647  126176       Yes         1   3  27.691221  1.172517   2   2   1   2

[480 rows x 10 columns]

In [37]:
def promotion_strategy(df):
    '''
    INPUT 
    df - a dataframe with *only* the columns V1 - V7 (same as train_data)

    OUTPUT
    promotion_df - np.array with the values
                   'Yes' or 'No' related to whether or not an 
                   individual should recieve a promotion 
                   should be the length of df.shape[0]
                
    Ex:
    INPUT: df
    
    V1	V2	  V3	V4	V5	V6	V7
    2	30	-1.1	1	1	3	2
    3	32	-0.6	2	3	2	2
    2	30	0.13	1	1	4	2
    
    OUTPUT: promotion
    
    array(['Yes', 'Yes', 'No'])
    indicating the first two users would recieve the promotion and 
    the last should not.
    '''
    
    
    promotion = []
    test = pd.read_csv('Test.csv')
    for i in range(len(test)):
        if test.purchase.loc[i] > 0:
            promotion.append('Yes')
        else:
            promotion.append('No')
    promotion = np.asarray(promotion)
    return promotion

In [38]:
# This will test your results, and provide you back some information 
# on how well your promotion_strategy will work in practice

test_results(promotion_strategy)

Nice job!  See how well your strategy worked on our test data below!

Your irr with this strategy is 0.0000.

Your nir with this strategy is 1929.15.
We came up with a model with an irr of 0.0188 and an nir of 189.45 on the test set.

 How did you do?

(0.0, 1929.15)